.login__wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}
.login {
    width: 400px;
    background-color: rgb(223,223,233);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
.login img {
    width: 100px;
}
.login h2 {
    margin: 20px 0px
}
.login button {
    background-color: #3fc250;
    color: #fff;
    border: 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 20px;
}