/*Wrapper Div*/
.sidebar {
    flex: 0.31;
    background-color: #fff;
}
/*Sidebar header top*/
.sidebar__header {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    padding : 10px;
    background-color: #ededed;
}
.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar__headerRight svg {
    font-size: 15px;
} 
/*Sidebar Search*/
.siderbar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 40px;
    padding: 10px;
}
.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 35px;
    border-radius: 20px;
    width: 100%;
}
.sidebar__searchContainer input{
    border: 0;
    margin-left: 10px;
    outline: 0;
    width: 100%;
}